h1, p {
    text-align: center;
}

li:hover {
    background-color: chocolate;    
}
 li:active {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 li {
    list-style: none;
 }